extends layout

block content
  div(class="mainCont")
    h1= title
    
    ul 
      each message in messages 
        li(class="message")
          p #{message.user} - Added on #{message.added} 
          p #{message.text} 

