doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class="navBar")
      ul 
        li 
          p 
            a(href="/") Home 
        li 
          p 
            a(href="/new") Add new message
    block content
